*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#dad6d6;
    color:#111010;
}

/* Navigation */

.navbar{
    background:#0A3D91;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
}

.logo-container {
    display: flex;
    align-items:center;
    gap: 10px;
}

.logo-container img {
    width: 70px;
}


.nav-links{
    display:flex;
    list-style:none;
}

.nav-links li{
    margin-left:20px;
}

.nav-links a{
    color:white;
    text-decoration:none;
}

.nav-links a:hover{
    color:#D4AF37;
}

.btn{
    background:#D4AF37;
    color:white;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
}

.btn:hover{
    opacity:0.9;
}

/* Hero */

.hero{
    height:90vh;
    background:linear-gradient(
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url('CHURCH\ PIC.png');

    background-size:cover;
    background-position:center;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:50px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:20px;
    margin-bottom:20px;
}

.btn-secondary{
    background:white;
    color:#0A3D91;
    padding:10px 20px;
    text-decoration:none;
    border-radius:5px;
    margin-left:10px;
}

/* Search Section */

.search-section{
    padding:60px 10%;
    text-align:center;
}

.search-box{
    margin-top:20px;
}

.search-box input{
    width:300px;
    padding:12px;
}

.search-box button{
    padding:12px 20px;
    background:#0A3D91;
    color:white;
    border:none;
    cursor:pointer;
}

/* Welcome */

.welcome{
    background:white;
    padding:60px 10%;
    text-align:center;
}

.welcome h2{
    margin-bottom:20px;
}

/* Branches */

.branches{
    padding:60px 10%;
    text-align:center;
}

.branch-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    margin-top:30px;
}

.branch-card{
    background:#b8b7b7;
    width:300px;
    padding:25px;
    border-radius:10px;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.branch-card button{
    margin-top:15px;
    padding:10px 20px;
    background:#0A3D91;
    color:white;
    border:none;
    border-radius:5px;
}

/* Events */

.events{
    background:#b8b7b7;
    padding:60px 10%;
    text-align:center;
}

.event-card{
    margin-top:20px;
    background:#b8b7b7;
    padding:20px;
    border-radius:10px;
}

/* Contact */

.contact{
    padding:60px 10%;
    text-align:center;
}

/* Footer */

footer{
    background:#0A3D91;
    color:white;
    text-align:center;
    padding:20px;
}

/* Responsive */

@media(max-width:768px){

    .navbar{
        flex-direction:column;
    }

    .nav-links{
        flex-direction:column;
        margin:15px 0;
    }

    .nav-links li{
        margin:10px 0;
    }

    .hero-content h1{
        font-size:35px;
    }

    .search-box input{
        width:100%;
        margin-bottom:10px;
    }
}

